@import "~bootstrap/scss/bootstrap.scss";

#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 2% 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f8fd;
}

.row-gap-25 {
  row-gap: 25px;
}

.linearBackground {
  display: block;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 14px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

/* ----------------- Variables ------------------ */
$c-33: #333;
$c-44: #444;
$c-55: #555;
$c-66: #666;
$c-78: #787878;
$c-87: #878787;
$c-97: #979797;
$c-ee: #eee;
$c-dd: #ddd;
$c-cc: #ccc;
$c-bb: #bbb;
$c-aa: #aaa;
$c-f5: #f5f5f5;
$c-f1: #f1f1f1;
$c-ed: #ededed;
$c-eb: #ebebeb;
$c-fc: #fcfcfc;
/* ----------------- Variables ------------------ */
/* ----------------- Mixins ---------------- */
@mixin flex-center($display: flex, $align: center) {
  display: $display;
  align-items: $align;
}
@mixin pad-bor-shadow-bg(
  $pad: 0px,
  $bor: 6px,
  $shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.06),
  $bg: white
) {
  padding: $pad;
  border-radius: $bor;
  box-shadow: $shadow;
  background: $bg;
}
@mixin wt-ht($wt: 100%, $ht: 100%) {
  width: $wt;
  height: $ht;
}

@mixin chartLoader($ht) {
  height: $ht;
  @include flex-center;
  justify-content: center;
  color: $c-97;
}
/* ----------------- End Mixins ---------------- */
/* ----------- Material Icons ----------- */
/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
  font-display: swap;
}

/* fallback */
@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v8/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2)
    format("woff2");
  font-display: swap;
}

/* fallback */
@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsround/v8/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2)
    format("woff2");
  font-display: swap;
}

/* fallback */
@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconssharp/v9/oPWQ_lt5nv4pWNJpghLP75WiFR4kLh3kvmvR.woff2)
    format("woff2");
  font-display: swap;
}

/* fallback */
@font-face {
  font-family: "Material Icons Two Tone";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconstwotone/v7/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0.woff2)
    format("woff2");
  font-display: swap;
}
@mixin mdicon-type($args...) {
  @debug keywords($args);
  @each $class-name, $prop-value in keywords($args) {
    .#{$class-name} {
      font-family: $prop-value;
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: "liga";
      -webkit-font-smoothing: antialiased;
    }
  }
}
@include mdicon-type(
  $material-icons: "Material Icons",
  $material-icons-outlined: "Material Icons Outlined",
  $material-icons-round: "Material Icons Round",
  $material-icons-sharp: "Material Icons Sharp",
  $material-icons-two-tone: "Material Icons Two Tone"
);

/* ----------- End Material Icons ----------- */

/* ------------ Title Card ----------- */
.tileCardLoader {
  height: 89px;
  align-items: center;
}
.tileCard,
.tileCardLoader {
  position: relative;
  display: grid;
  grid-template-columns: 50px auto;
  @include pad-bor-shadow-bg(20px);
  i {
    font-size: 32px;
    padding: 5px 10px;
    @include flex-center;
  }
  .icon.linearBackground {
    @include wt-ht(32px, 32px);
    border-radius: 35px;
    margin: 5px 10px;
  }
  .tileBody {
    padding: 5px 10px;
    .name {
      color: $c-aa;
      &.linearBackground {
        margin-bottom: 10px;
        display: block;
        @include wt-ht(60px, 16px);
      }
    }
    .value {
      color: $c-33;
      font-size: 30px;
      line-height: 1.2;
      &.linearBackground {
        display: block;
        @include wt-ht(40px, 30px);
      }
    }
  }
}

/* ------------ End Title Card ----------- */

/* -------------- Memory Usage ------------- */
.memoryUsageSection {
  position: relative;
  @include pad-bor-shadow-bg(25px);
  .header {
    .title {
      font-size: 18px;
      font-weight: 500;
      color: $c-33;
    }
    .update {
      color: blue;
      cursor: pointer;
      border-radius: 6px;
      padding: 5px 15px;
      transition: all 0.3s ease;
      i {
        font-size: 20px;
        padding-right: 4px;
      }
      .btnName {
        font-size: 16px;
      }
      &:hover {
        transition: all 0.3s ease;
        background: $c-f5;
      }
    }
  }
  .chartLoader {
    @include chartLoader(365px);
  }
}
/* -------------- End Memory Usage ------------- */

/* -------------- Processes line chart section ------------- */
.processesLineChartSection {
  position: relative;
  @include pad-bor-shadow-bg(0 25px);
  .processData {
    position: relative;
    .title {
      font-size: 18px;
      text-transform: capitalize;
      margin: 0;
      line-height: 1.3;
      font-weight: 500;
      color: $c-33;
    }
    .count {
      font-size: 16px;
      color: $c-97;
      font-weight: 500;
    }
  }
  .chartLoader {
    @include chartLoader(125px);
  }
}
/* -------------- End processes line chart section ------------- */

/* -------------- Latency bar chart section ------------- */
.latencyBarChartSection {
  position: relative;
  @include pad-bor-shadow-bg(25px 25px 5px);
  .header {
    position: relative;
    .title {
      font-size: 18px;
      text-transform: capitalize;
      font-weight: 500;
      color: $c-33;
    }
    .seconds {
      font-size: 15px;
      font-weight: 500;
      color: $c-78;
      color: blue;
    }
    .linearBackground {
      display: block;
      @include wt-ht(15px, 15px);
      border-radius: 35px;
    }
  }
  .chartLoader {
    @include chartLoader(120px);
    @include flex-center;
    justify-content: center;
    color: $c-97;
  }
}
/* -------------- End latency bar chart section ------------- */
